:root {
    --background: white;
    --color: #222;
  }
  
.dark-theme {
    --background: #222;
    --color: white;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--background);
    color: var(--color);
}

main {
    margin: 10px;
}

.invisible{
    visibility: hidden;
    height: 0px;
}

.main-container {
    visibility: hidden;
}

.btn-row-1 { 
    display: flex;  
    justify-content: space-between;
    margin-bottom: 5px;
}

.btn-row-2 {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content auto;
    column-gap: 5px; 
}

.filter {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: end;
}

main form {
    display: flex;
    flex-direction: column;  
    flex: 0 0 50%;
    margin: 0px; 
    row-gap: 5px;
}

.form-row-done { 
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}